<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>hbapp</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>healthbank</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>healthbank</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>RCTNewArchEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>branch_domain</key>
	<array>
		<string>link.healthbank.io</string>
		<string>healthbank.app.link</string>
		<string>healthbank-alternate.app.link</string>
		<string>healthbank.test-app.link</string>
		<string>healthbank-alternate.test-app.link</string>
		<string>healthbank-stg.app.link</string>
		<string>healthbank-stg-alternate.app.link</string>
	</array>
	<key>branch_key</key>
	<dict>
		<key>live</key>
		<string>key_live_bgYxxxxxxxxxxxx</string>
	</dict>
	<key>branch_universal_link_domains</key>
	<array>
		<string>link.healthbank.io</string>
		<string>healthbank.app.link</string>
		<string>healthbank-alternate.app.link</string>
		<string>healthbank.test-app.link</string>
		<string>healthbank-alternate.test-app.link</string>
		<string>healthbank-stg.app.link</string>
		<string>healthbank-stg-alternate.app.link</string>
	</array>
</dict>
</plist>
